main {
    flex: 1 0 auto;
    margin-top: 5em;
}

main h1 {
    font-weight: bold;
}

 main h2 {
    font-weight: 300;
}

#logo-icon {
   margin-left: 50px;
   margin-top: 20px;
}

#logo {
    margin-left: 50px;
    margin-top: 20px;
}

#head-nav-links {
    margin-right: 50px;
    margin-top: 20px;
}

.mainpanel{
   margin: 50px;
}

#mainpanel-content {
    margin: 50px;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}